[Unit]
Description=Pi-Linux Live Desktop Setup
After=systemd-user-sessions.service network-online.target
Before=sddm.service display-manager.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pi-linux-live-desktop.sh
RemainAfterExit=yes
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
