[Unit]
Description=Pi-Linux First Boot Installer
After=network-online.target
Wants=network-online.target
ConditionPathExists=!/var/lib/pi-linux-installed

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pi-linux-firstboot
RemainAfterExit=yes
StandardInput=tty
StandardOutput=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=multi-user.target
